.bg-primary {
    background-color: #250030 !important;
}

.bg-secondary {
    background-color: #F8A601 !important;
}

.active {
    background-color: #F8A601 !important;
    color: #000 !important;
}

.nav-link {
    color: #fff!important;
}

.nav-link.active {
    color: #000 !important;
}

.text-primary {
    color: #fff !important;
}

.text-secondary {
    color: #F8A601 !important;
}

.blockquote {
    font-size: 15px !important;
    font-max-size: 2em !important;
    line-height: 2px!important;
    height: 100% !important;
    top: 50px!important;
    bottom: 0!important;
}

.nav-item {
    text-align: center!important;
    padding: 10px 10px!important;
    width: 165px;
}

.bg-nav-purple {
    background-color: #370047;
}

.nav-link-purple {
    background-color: #46005B;
}

.nav-link-purple-50 {
    background-color: #370047;
}

.nav-shadow {
    box-shadow: black;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #6D6D6D;
    text-transform: uppercase;
}
.section-title:before {
    content: "";
    width: 30%;
    margin-right: 5px;
    height: 1px;
    background: #707070;
}
.section-title:after {
    content: "";
    width: 30%;
    height: 1px;
    margin-left: 5px;
    background: #707070;
}

.panel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 100%;
    color: white;
    margin: 10px;
}
